{% extends "base.html" %}
{% load staticfiles %}

{% block title %}ZookaWebsite - Zooka{% endblock title %}

{% block main_body %}
<h1> Zooka {{ header }}</h1>
<table width="100%"  align="center" class="camptable table-striped table-bordered" id="table2">
        <thead>
        <tr>
         <th scope="col">Campaign</th>
         <th scope="col">Tags</th>
         <th scope="col">Material Sets</th>
         <th scope="col">Tickets Open</th>
        </tr>
        </thead>
<tbody>
{% for item in campaigns %}

<tr>
       <td> {{ item.campaign }}</td>
    <td>{% for tag in item.tagz.all %}
        <a href="https://obfuscatingtickets/search?category=&assigned_group=&status=Assigned%3BResearching%3BWork+In+Progress%3BPending&impact=&assigned_individual=&requester_login=&login_name=&cc_email=&phrase_search_text=&keyword_bq=&exact_bq=&or_bq1=&or_bq2=&or_bq3=&exclude_bq=&create_date=&modified_date=&tags={{ tag }}&case_type=&building_id=&search=Search%21">{{ tag }}</a> <br>
    {% endfor %}</td>
    <td> <a href="https://obfuscating/#view/materialSet/{{ item.prod_mat }}">{{ item.prod_mat }}</a>
        <br><a href="https://obfuscating/#view/materialSet/{{ item.test_mat }}">{{ item.test_mat }}</a></td>
       <td> </td>
       </tr>

{% endfor %}
</tbody>
</table>

{% endblock main_body %}