{% extends "base.html" %}
{% load staticfiles %}

{% block title %}ZookaWebsite - Home Page{% endblock title %}

{% block main_body %}
<h1> Tickets created by Zooka</h1>
<table width="100%"  align="center" class="camptable table-striped table-bordered" id="table2">
        <thead>
        <tr>
            <th scope="col">#</th>
         <th scope="col">TT ID</th>
         <th scope="col">Short description</th>
         <th scope="col">Category</th>
         <th scope="col">Type</th>
         <th scope="col">Item</th>
         <th scope="col">Disposition</th>
        </tr>
        </thead>
<tbody>
{% for item in created_tickets %}
<tr>
    <td>{{ forloop.counter }}</td>
       <td><a href="https://obfuscated.com/{{ item._id }}" target="_blank">{{ item._id }}</a> </td>
       <td> {{ item.short_description }} </td>
       <td> {{ item.category }} </td>
       <td> {{ item.type }}</td>
       <td> {{ item.item }}</td>
       <td> {{ item.disposition }}</td>
       </tr>
{% endfor %}
</tbody>
</table>
{% endblock main_body %}